In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [11]:
#load files from NOAA and USGS
#https://earthquake.usgs.gov/earthquakes/search/
#https://ngdc.noaa.gov/nndc/struts/form?t=101650&s=1&d=1
earthquake_NOAA = pd.read_csv("Earthquake_Data_NOAA.csv")
earthquake_USGS = pd.read_csv("Earthquake_Data_USGS.csv")

In [12]:
print(earthquake_NOAA.columns)

Index(['I_D', 'FLAG_TSUNAMI', 'YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE',
       'SECOND', 'FOCAL_DEPTH', 'EQ_PRIMARY', 'EQ_MAG_MW', 'EQ_MAG_MS',
       'EQ_MAG_MB', 'EQ_MAG_ML', 'EQ_MAG_MFA', 'EQ_MAG_UNK', 'INTENSITY',
       'STATE', 'COUNTRY', 'Location1', 'location2', 'location3', 'location4',
       'location5', 'LATITUDE', 'LONGITUDE', 'REGION_CODE', 'DEATHS',
       'DEATHS_DESCRIPTION', 'MISSING', 'MISSING_DESCRIPTION', 'INJURIES',
       'INJURIES_DESCRIPTION', 'DAMAGE_MILLIONS_DOLLARS', 'DAMAGE_DESCRIPTION',
       'HOUSES_DESTROYED', 'HOUSES_DESTROYED_DESCRIPTION', 'HOUSES_DAMAGED',
       'HOUSES_DAMAGED_DESCRIPTION', 'TOTAL_DEATHS',
       'TOTAL_DEATHS_DESCRIPTION', 'TOTAL_MISSING',
       'TOTAL_MISSING_DESCRIPTION', 'TOTAL_INJURIES',
       'TOTAL_INJURIES_DESCRIPTION', 'TOTAL_DAMAGE_MILLIONS_DOLLARS',
       'TOTAL_DAMAGE_DESCRIPTION', 'TOTAL_HOUSES_DESTROYED',
       'TOTAL_HOUSES_DESTROYED_DESCRIPTION', 'TOTAL_HOUSES_DAMAGED',
       'TOTAL_HOUSES_DAMAGED_DESCRIPTION'],
      dtype='object')

In [13]:
#print(earthquake_USGS.columns)

In [14]:
#check if data loaded up correctly
earthquake_NOAA.head()
earthquake_NOAA.tail()

,I_D,FLAG_TSUNAMI,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,FOCAL_DEPTH,EQ_PRIMARY,...,TOTAL_MISSING,TOTAL_MISSING_DESCRIPTION,TOTAL_INJURIES,TOTAL_INJURIES_DESCRIPTION,TOTAL_DAMAGE_MILLIONS_DOLLARS,TOTAL_DAMAGE_DESCRIPTION,TOTAL_HOUSES_DESTROYED,TOTAL_HOUSES_DESTROYED_DESCRIPTION,TOTAL_HOUSES_DAMAGED,TOTAL_HOUSES_DAMAGED_DESCRIPTION
6078,10383,NaN,2018,12.0,26.0,2.0,19.0,16,10.0,5.1,...,NaN,NaN,28.0,1.0,114.0,4.0,15.0,1.0,NaN,1.0
6079,10385,NaN,2019,1.0,3.0,0.0,48.0,8,10.0,5.2,...,NaN,NaN,774.0,3.0,NaN,2.0,NaN,NaN,691.0,3.0
6080,10389,NaN,2019,1.0,6.0,13.0,41.0,59,14.0,5.6,...,NaN,NaN,75.0,2.0,NaN,1.0,NaN,NaN,NaN,1.0
6081,10387,NaN,2019,1.0,12.0,8.0,58.0,27,2.0,3.8,...,NaN,NaN,6.0,1.0,NaN,2.0,NaN,NaN,NaN,NaN
6082,10388,NaN,2019,1.0,20.0,1.0,32.0,51,53.0,6.7,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,260.0,3.0

In [15]:
#check if data loaded up correctly
#print(earthquake_USGS.head())

In [16]:
#filter data that we need 
#Earth_USGS = earthquake_USGS[["date","country","place","latitude","longitude","mag","depth"]]

#Earth_USGS['date'] = pd.to_datetime(Earth_USGS['date'])

#print(Earth_USGS.head())

In [17]:
#Earth_USGS.pivot_table(index = "type", values = "mag", aggfunc=len)

#Earth_USGS['year'] = Earth_USGS['date'].dt.year
#print(Earth_USGS.head())

#Earth_USGS_100 = Earth_USGS.loc[Earth_USGS["year"] >= 1919, :]
#USGS_100_years = Earth_USGS_100[["year", "country", "place", "latitude", "longitude", "mag", "depth"]]
    
#print(USGS_100_years.tail())

#USGS_100_years_USA=USGS_100_years.loc[USGS_100_years['country']=='United States']

In [18]:
# Take only the necessary columns
Earth_NOAA = earthquake_NOAA[['YEAR', 'COUNTRY', 'STATE','location3','LATITUDE', 'LONGITUDE', 'EQ_PRIMARY', 'FOCAL_DEPTH']]
print(Earth_NOAA.head())

   YEAR       COUNTRY STATE                   location3 LATITUDE LONGITUDE  \
0 -2150        JORDAN   NaN        BAB-A-DARAA,AL-KARAK     31.1      35.5
1 -2000         SYRIA   NaN                      UGARIT   35.683      35.8
2 -2000  TURKMENISTAN   NaN                           W       38      58.2
3 -1610        GREECE   NaN    THERA ISLAND (SANTORINI)     36.4      25.4
4 -1566        ISRAEL   NaN             ARIHA (JERICHO)     31.5      35.3

   EQ_PRIMARY  FOCAL_DEPTH
0         7.3          NaN
1         NaN          NaN
2         7.1         18.0
3         NaN          NaN
4         NaN          NaN

In [19]:
# Clear data and take only the recent 100 years data
Earth_NOAA_100 = Earth_NOAA.loc[Earth_NOAA["YEAR"] >= 1919, :]

Earth_NOAA_100 = Earth_NOAA_100.rename(columns={'YEAR':'year', 'COUNTRY':'country', 'STATE':'state','location3':'place', \
                                                'LATITUDE':'latitude', 'LONGITUDE':'longitude', 'EQ_PRIMARY':'mag', \
                                                'FOCAL_DEPTH':'depth'})

NOAA_100_years = Earth_NOAA_100[["year", "country", "state", "place", "latitude", "longitude", "mag", "depth"]]

NOAA_100_years[["country", "state"]] = NOAA_100_years[["country", "state"]].astype(str) 
for i in range(len(Earth_NOAA_100['state'])):
    if (Earth_NOAA_100.iloc[i,2]) != 'NaN':
        Earth_NOAA_100.iloc[i,2] = Earth_NOAA_100.iloc[i,1]
        Earth_NOAA_100.iloc[i,1] = "UNITED STATES"

USA = NOAA_100_years.loc[NOAA_100_years['country']=="UNITED STATES",:]
print(USA)
print('--------------------')

# get ride of 'state' and 'place' columns
NOAA_100 = NOAA_100_years[["year", "country", "latitude", "longitude", "mag", "depth"]]

print(NOAA_100.head())
print(NOAA_100.tail())

Empty DataFrame
Columns: [year, country, state, place, latitude, longitude, mag, depth]
Index: []
--------------------
      year        country latitude longitude  mag  depth
2871  1919    PHILIPPINES        8       126  7.4   33.0
2872  1919   FIJI ISLANDS    -19.5    -176.5  8.3  180.0
2873  1919    PHILIPPINES       12       122  NaN    NaN
2874  1919    EL SALVADOR    13.69    -89.19  5.9    NaN
2875  1919  TONGA ISLANDS  -18.352  -172.515  8.1   25.0
      year country latitude longitude  mag  depth
6078  2018   ITALY   37.555    15.166  5.1   10.0
6079  2019   CHINA   28.261   104.984  5.2   10.0
6080  2019    IRAN   34.121    45.681  5.6   14.0
6081  2019  POLAND    51.52     16.09  3.8    2.0
6082  2019   CHILE  -30.074   -71.423  6.7   53.0

In [20]:
NOAA_100.dtypes

year           int64
country       object
latitude      object
longitude     object
mag          float64
depth        float64
dtype: object

In [21]:
import sqlite3

In [22]:
conn = sqlite3.connect('C:/Users/wuhua/Downloads/Projects/Project _3/db/eq_100.sqlite')

In [23]:
NOAA_100.to_sql('100years', conn, if_exists='replace', index=False)

In [24]:
pd.read_sql('select * from "100years"', conn)

      year           country latitude longitude  mag  depth
0     1919       PHILIPPINES        8       126  7.4   33.0
1     1919      FIJI ISLANDS    -19.5    -176.5  8.3  180.0
2     1919       PHILIPPINES       12       122  NaN    NaN
3     1919       EL SALVADOR    13.69    -89.19  5.9    NaN
4     1919     TONGA ISLANDS  -18.352  -172.515  8.1   25.0
5     1919             JAPAN     40.5     145.5  7.6   60.0
6     1919  PAPUA NEW GUINEA   -4.852   153.714  7.8   35.0
7     1919             ITALY       44      11.5  6.2   33.0
8     1919         NICARAGUA    12.33   -88.291  6.6   20.0
9     1919              LARA     None      None  NaN    NaN
10    1919      FIJI ISLANDS    -16.5       180  6.9    NaN
11    1919             ITALY     41.4      12.6  5.6   10.0
12    1919             ITALY     43.5      12.1  NaN    NaN
13    1919         INDONESIA    -2.55    140.75  NaN    NaN
14    1919             ITALY     41.6      14.2  NaN    NaN
15    1919    GREECE-ALBANIA     39.4      20.5  NaN    NaN
16    1920            MEXICO    19.26    -96.97  7.8    NaN
17    1920         INDONESIA     0.87    122.92  NaN    NaN
18    1920  PAPUA NEW GUINEA     -6.5       150  7.7   60.0
19    1920           GEORGIA       42      44.1  6.2   11.0
20    1920            TAIWAN     23.5     122.7  8.0    NaN
21    1920             CHILE      -38     -73.5  7.0   15.0
22    1920             ITALY     44.3      10.3  5.8   10.0
23    1920     NEW CALEDONIA  -19.919    168.53  7.8   35.0
24    1920           ALBANIA     40.2        20  6.2   25.0
25    1920             CHINA   36.601   105.317  8.3   25.0
26    1920         ARGENTINA    -32.7     -68.4  6.0   10.0
27    1920           ALBANIA     40.5      19.5  5.6    NaN
28    1921             ITALY     44.3      11.9  NaN    NaN
29    1921         GUATEMALA       15       -91  7.5  120.0
...    ...               ...      ...       ...  ...    ...
3182  2018         INDONESIA   -8.394   116.208  5.9   10.0
3183  2018             CHINA   24.322   102.941  5.0   10.0
3184  2018      FIJI ISLANDS  -18.178  -178.111  8.2  563.0
3185  2018         INDONESIA   -8.325   116.577  6.3    8.0
3186  2018         INDONESIA   -8.324   116.626  6.9   26.0
3187  2018         VENEZUELA   10.855   -62.883  7.3  154.0
3188  2018              IRAN   34.663    46.277  6.0   10.0
3189  2018     NEW CALEDONIA  -22.066    170.05  7.1   28.0
3190  2018             JAPAN   42.671   141.933  6.6   33.0
3191  2018      FIJI ISLANDS  -18.494   179.332  7.8  609.0
3192  2018              IRAN   28.342    59.315  5.5   10.0
3193  2018             CHINA   23.332   101.552  5.6   10.0
3194  2018             INDIA   26.374    90.165  5.3   10.0
3195  2018         INDONESIA   -0.178    119.84  7.5   10.0
3196  2018             HAITI   20.041   -72.975  5.9   12.0
3197  2018         INDONESIA   -7.456   114.453  6.0    9.0
3198  2018            GREECE   37.506    20.563  6.8   14.0
3199  2018         INDONESIA   -2.916   119.435  5.6    9.0
3200  2018              IRAN   34.304     45.74  6.3   10.0
3201  2018       AFGHANISTAN   35.817    68.682  4.9   22.0
3202  2018            ALASKA    61.34  -149.937  7.0   41.0
3203  2018     NEW CALEDONIA  -21.969   169.446  7.5   10.0
3204  2018   VANUATU ISLANDS  -16.368   168.213  5.6   35.0
3205  2018             CHINA   28.264   104.991  5.4   27.0
3206  2018        MOZAMBIQUE  -20.644    32.801  5.5    8.0
3207  2018             ITALY   37.555    15.166  5.1   10.0
3208  2019             CHINA   28.261   104.984  5.2   10.0
3209  2019              IRAN   34.121    45.681  5.6   14.0
3210  2019            POLAND    51.52     16.09  3.8    2.0
3211  2019             CHILE  -30.074   -71.423  6.7   53.0

[3212 rows x 6 columns]

In [25]:
#from sqlalchemy import MetaData
#metadata = MetaData(conn)
#print(metadata)

In [27]:
cur = conn.cursor()
#cur.execute(PRAGMA Table_Info('100years'))
#cur.execute('PRAGMA eq_100.TABLE_INFO("100years")')
for row in cur.execute("PRAGMA table_info('100years')").fetchall():
    print(row)

(0, 'year', 'INTEGER', 0, None, 0)
(1, 'country', 'TEXT', 0, None, 0)
(2, 'latitude', 'TEXT', 0, None, 0)
(3, 'longitude', 'TEXT', 0, None, 0)
(4, 'mag', 'REAL', 0, None, 0)
(5, 'depth', 'REAL', 0, None, 0)